/*
PNT 프로젝트 CSS
Version: 1.0.3
수정 By 백성훈
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
li {
	font-family:'Malgun Gothic';
	font-size:10pt;
	font-weight: bold;
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear: both;
}
br {
	line-height: 10px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

body {
	background: #1a1a1a;
	color: #4d4d4d;
	font-family: 'PTSansRegular';
	font-size: 15px;
}
p {
	font-size: 14px;
	line-height: 20px;
}
a {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	color: #d3573e;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Museo500';
	color: #4d87ab;
	font-weight: normal;
	padding-bottom: 12px;
}
h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}
.caps {
	text-transform: uppercase;
}
ul {
	font-family: 'CharisSILItalic';
	line-height: 20px;
	font-size: 14px;
}
ul li {
	background: transparent url(style/images/bullet.png) center no-repeat;
	padding-left: 15px;
}
form {
   margin: 0px;
   text-align:center;
}
select {
   margin-top: 10px;
   margin-bottom: 10px;
   width: 270px;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
}
.btn-style{
	height: 40px;
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

}
ol {
	font-family: 'CharisSILItalic';
	font-size: 14px;
	list-style: decimal;
	list-style-position: inside;
	line-height: 20px;
}
ol li {
	padding: 0;
	margin: 0;
}
.intro {
	font-family: 'CharisSILItalic';
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	margin-bottom: -2px;
}
blockquote {
	font-family: 'CharisSILItalic';
	font-size: 18px;
	font-weight: normal;
	line-height: 25px;
	padding-left: 30px;
	background: transparent url(style/images/quote.png) no-repeat left 7px;
}
.hr2 {
	border-top: 3px solid #454545;
	height: 4px;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
}
.hr1 {
	height: 0;
	border-bottom: 1px solid #454545;
	margin: 36px 0;
}
.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}
p .center {
	text-align: center;
	display: block;
	margin: 0 auto 10px;
}
img {
	display: block;
}
img.left {
	float: left;
	margin: 10px 10px 5px 0;
}
img.right {
	float: right;
	margin: 10px 0 5px 10px;
}
.lite1 {
	color: #4d87ab;
}
.lite2 {
	border-bottom: 1px dotted #4d87ab;
}
a.button {
	background: #5499c3 url(style/images/button.png) repeat-x;
	border: none;
	height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-family: 'CharisSILItalic';
	font-size: 14px;
	padding: 6px 15px 6px 15px;
	margin: 10px 0;
	display: inline-block;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
/* Webkit Fix */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
a.button {padding: 5px 15px 7px 15px;}
}

/* Opera Fix */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	a.button {padding: 5px 15px 7px 15px;}

}

a.button.blue {
	background-color: #5499c3;
}

a.button.green {
	background-color: #4dab96;
}

a.button.lime {
	background-color: #92ab4d;
}

a.button.red {
	background-color: #ab4d63;
}

a.button.purple {
	background-color: #8d4dab;
}

a.button.blue:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.green:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.lime:hover {
	color: #fff;
	background-color: #ab4d63;
}

a.button.red:hover {
	color: #fff;
	background-color: #4d87ab;
}

a.button.purple:hover {
	color: #fff;
	background-color: #4dab96;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
	font-family: 'Museo500';
}
pre {
	margin: 5px 0px 40px 0px;
	padding: 0 10px 0px 10px;
	display: block;
	clear: both;
	background: url(style/images/codebg.jpg) repeat;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #cfcfcf;
}
.download-box, .warning-box, .info-box, .note-box {
	clear:both;
	margin: 10px 0px;
	text-shadow: none;
	padding: 15px 15px 13px 15px;
	line-height: 17px;
}
.info-box {
	background:#c2ddf9;
	border:1px solid #80bbef;
	color:#4783b7;
}
.warning-box {
	background:#ffcccc;
	border:1px solid #ff9999;
	color:#c31b00;
}
.download-box {
	background:#d1f7b6;
	border:1px solid #8bca61;
	color:#5e9537;
}
.note-box {
	background:#fdebae;
	border:1px solid #e6c555;
	color:#9e660d;
}

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT CSS
/*-----------------------------------------------------------------------------------*/

#wrapper {
	width: 960px;
	margin: 0 auto;
}
#header {
	padding: 30px 0 25px 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.logo {
	float: left;
}
.social {
	float: right;
	position: absolute;
	bottom: 25px;
	right: 0;
}
.social ul li {
	float: left;
	margin-left: 1px;
	background: none;
	padding: 0;
}
#container {
	width: 900px;
	margin: 20px auto;
	padding: 30px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
}
#copyright {
	width: 900px;
	margin: 20px auto;
	padding: 17px 30px 13px;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6);
}
#copyright p {
	font-size: 12px;
	text-align: center;
}
#footer {
	padding: 40px 0 0 0;
	overflow: hidden;
}
#footer h3 {
	margin-bottom: 5px;
}
.footer-top {
	border-top: 3px solid #454545;
	height: 4px;
	border-bottom: 1px solid #454545;
	margin: 0 0 36px 0;
}
ul.latest-posts {
	margin-bottom: -15px;
	overflow: hidden;
	padding-left: 2px;
}
ul.latest-posts li {
	padding: 0;
	background: none;
	font-family: 'PTSansRegular';
	font-style: normal;
	font-size: 14px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: 1px dashed #454545;
}
ul.latest-posts li a {
	color: #4d4d4d;
}
ul.latest-posts li a:hover {
	color: #d3573e;
}
ul.latest-posts li:first-child {
	padding: 0;
	border: none;
}
ul.latest-posts li span.date {
	float: left;
	font-family: 'CharisSILItalic';
	padding-right: 15px;
	padding-top: 2px;
	text-align: center;
	color: #3d3d3d;
	font-style: normal;
}
ul.latest-posts li em.day {
	font-size: 25px;
	font-style: normal;
}
ul.latest-posts li em.month {
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	line-height: 8px;
	margin-top: 1px;
	font-style: normal;
}
ul.flickr {
	margin-right: -40px;
	margin-bottom: -20px;
	overflow: hidden;
	display: block;
	padding: 0;
}
ul.flickr li {
	padding: 0;
	background: none;
	display: inline-block;
	background-color: #fff;
	padding: 0;
	margin: 0 8px 8px 0;
}
ul.flickr li img {
	width: 58px;
	height: 58px;
	padding: 0;
}



/*-----------------------------------------------------------------------------------*/
/*	메인 페이지 중앙 SHOWCASE css
/*-----------------------------------------------------------------------------------*/

#awOnePageButton .view-slide {
	display: none;
}
.showcase-load {
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}

.showcase-onepage {
/**/
}
.showcase {
	position: relative;
	margin: 0 auto 33px auto;
	height: 426px;
}
.showcase-content-container {
	background-color: #000;
}
.showcase-arrow-previous, .showcase-arrow-next {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	background: url('style/images/arrows.png');
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.showcase-arrow-previous {
	background-position: 0 0;
}
.showcase-arrow-previous:hover {
	background-position: 0 -25px;
}
.showcase-arrow-next {
	background-position: 25px 0;
}
.showcase-arrow-next:hover {
	background-position: -25px -25px;
}
.showcase-content {
	background-color: #000;
	text-align: center;
}
.showcase-content-wrapper {
	text-align: center;
	height: 400px;
	width: 900px;
	display: table-cell;
	vertical-align: middle;
}
.showcase-plus-anchor {
	background-image: url('style/images/plus.png');
	background-repeat: no-repeat;
}
.showcase-plus-anchor:hover {
	background-position: -32px 0;
}
div.showcase-tooltip {
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 5px 8px;
	background-image: url(style/images/white-opacity-80.png);
}
.showcase-caption {
	color: #000;
	padding: 9px 15px 7px 15px;
	text-align: left;
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: none;
	width: auto;
	background-image: url(style/images/white-opacity-80.png);
}
.showcase-onepage .showcase-content {
	margin-bottom: 10px;
}
.showcase-button-wrapper {
	clear: both;
	margin-top: 15px;
	text-align: center;
	position: relative;
	margin-right:-7px;
}
.showcase-button-wrapper span {
	cursor: pointer;
	margin: 3px 7px 0 0;
	width: 12px;
	height: 12px;
	text-indent: -99999px;
	display: inline-block;
	background: url('style/images/navs.png');
}
.showcase-button-wrapper span:hover, .showcase-button-wrapper span.active {
	background-position: 0 -12px;
}
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */ {
	background-color: #000;
}
.showcase-thumbnail-wrapper {
	overflow: hidden;
}
.showcase-thumbnail {
	width: 120px;
	height: 90px;
	cursor: pointer;
	border: solid 1px #333;
	position: relative;
}
.showcase-thumbnail-caption {
	position: absolute;
	bottom: 2px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.showcase-thumbnail-content {
	padding: 10px;
	text-align: center;
	padding-top: 25px;
}
.showcase-thumbnail-cover {
	background-image: url(style/images/black-opacity-40.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.showcase-thumbnail:hover {
	border: solid 1px #999;
}
.showcase-thumbnail:hover .showcase-thumbnail-cover {
	display: none;
}
.showcase-thumbnail.active {
	border: solid 1px #999;
}
.showcase-thumbnail.active .showcase-thumbnail-cover {
	display: none;
}
.showcase-thumbnail-wrapper-horizontal {
	padding: 10px;
}
.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail {
	margin-right: 10px;
	width: 116px;
}
.showcase-thumbnail-wrapper-vertical {
	padding: 10px;
}
.showcase-thumbnail-wrapper-vertical .showcase-thumbnail {
	margin-bottom: 10px;
}
.showcase-thumbnail-button-backward,  .showcase-thumbnail-button-forward {
	padding: 7px;
	cursor: pointer;
}
.showcase-thumbnail-button-backward {
	padding-bottom: 0px;
	padding-right: 0px;
}
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal, .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
	background-image: url(style/images/arrows-small.png);
	background-repeat: no-repeat;
	display: block;
	width: 17px;
	height: 17px;
}
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical {
	background-position: 0 -51px;
	margin-left: 55px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical {
	background-position: -17px -51px;
}
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical {
	background-position: 0 -34px;
	margin-left: 55px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical {
	background-position: -17px -34px;
}
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal {
	background-position: 0 -17px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal {
	background-position: -17px -17px;
}
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal {
	background-position: 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal {
	background-position: -17px 0;
}
/* Hide button text */
.showcase-thumbnail-button-forward span span, .showcase-thumbnail-button-backward span span {
	display: none;
}

/* Opera Fix */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	#footer .forms fieldset .btn-submit {padding: 0 20px 2px 20px;}

}
#footer .forms span.error {
	display: none;
}
#footer .forms label {
	display: block;
	float: right;
	width: 40px;
	text-align: right;
	padding-top: 10px;
	font-family: 'PTSansRegular';
	font-size: 13px;
}
#footer .form-container .response {
	display: none;
	margin: 15px 0 0 0;
	background:#d1f7b6;
	border:1px solid #8bca61;
	color:#5e9537;
	clear:both;
	text-shadow: none;
	padding: 10px 10px 8px 10px;
	line-height: 17px;
	width: 173px;
	font-size: 12px;
}

/* Opera Fix */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
#footer .form-container .loading {
	width: 110px;
	height: 400px;
}
#footer .forms fieldset .text-input {
	width: 110px;
	height: 30px;
}
#footer .forms label {
	padding-top:6px;
}
}

/* Webkit Fix */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
#footer .forms label {
	padding-top:6px;
}
}

/*-----------------------------------------------------------------------------------*/
/*	Sign up & Write a Schedule css
/*-----------------------------------------------------------------------------------*/
.input-text {
	margin: 5px;
	width: 270px;
	height: 40px;
	padding: 5px;
	font-size: 20px;
	line-height: 1px;
	border: solid 1px #c7c7c7;
	border-radius: 0;
	-webkit-appearance: none;
}

.signup_form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
}

.signup_label, .write_label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 60px;
    text-align: right;
    vertical-align: middle;
}

.write_label_contents {
	margin-top:10px;
    vertical-align: top;
}

.write_input_text {
	margin: 5px;
	width:600px;
	height: 40px;
	padding: 5px;
	font-size: 20px;
	line-height: 1px;
	border: solid 1px #c7c7c7;
	border-radius: 0;
	-webkit-appearance: none;
}
span .write_input_text {
	width: 260px;
}

.write_input_textarea {
	margin: 5px;
	width:600px;
	height:300px;
	padding: 5px;
	font-size: 20px;
	line-height: 1px;
	border: solid 1px #c7c7c7;
	border-radius: 0;
	-webkit-appearance: none;
	resize: vertical;
}

.write_input_date {
   margin-top: 10px;
   margin-bottom: 10px;
   width: 265px;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: solid 1px #c7c7c7;
   border-radius: 0;
   height: 40px;
   -webkit-appearance: none;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border:solid #ff8040 3px;
}

input:date {
	height:15px;
}
